<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appium.WebDriver" version="1.5.0.1" targetFramework="net4" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net4" />
  <package id="NUnit" version="2.6.3" targetFramework="net4" />
  <package id="Selenium.Support" version="2.48.2" targetFramework="net4" />
  <package id="Selenium.WebDriver" version="2.48.2" targetFramework="net4" />
</packages>